default_stages: [pre-commit]
repos:
  # >>>>>>>>>>>>>>>>>>>>> basic <<<<<<<<<<<<<<<<<<<< #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      # - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      # - id: double-quote-string-fixer
      - id: end-of-file-fixer
      # - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: sort-simple-yaml
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        additional_dependencies: ["prettier@3.2.5"]
  # - repo: https://github.com/commitizen-tools/commitizen
  #   rev: 'v3.24.0'
  #   hooks:
  #     - id: commitizen
  #       stages: [commit-msg]
  - repo: https://github.com/curoky/dotbox
    rev: "2b531e5047815b6518e893a9bc0a04342b2d73d0"
    hooks:
      - id: check-git-author
        args: [-n, curoky, -e, "cccuroky@gmail.com"]
        stages: [commit-msg]
  # >>>>>>>>>>>>>>>>>>>>> basic <<<<<<<<<<<<<<<<<<<< #

  # >>>>>>>>>>>>>>>>>>>>> bash <<<<<<<<<<<<<<<<<<<< #
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: "v3.10.0-1"
    hooks:
      - id: shfmt
        args: ["-w", "-i", "2", "-s", "-l", "-ci"]
  # >>>>>>>>>>>>>>>>>>>>> bash <<<<<<<<<<<<<<<<<<<< #

  # >>>>>>>>>>>>>>>>>>>>> python <<<<<<<<<<<<<<<<<<<< #
  - repo: https://github.com/nbQA-dev/nbQA
    rev: "1.9.1"
    hooks:
      - id: nbqa-ruff
        args: [--fix]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.7.3"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --no-cache]
  # >>>>>>>>>>>>>>>>>>>>> python <<<<<<<<<<<<<<<<<<<< #

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v19.1.3"
    hooks:
      - id: clang-format
        "types_or": [c++, c, c#, cuda, java, objective-c, proto]
